# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Misc
.env
backend/files/csvs/
backend/files/images/
frontend/src/pages/testing/
.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.DS_Store
.vscode
.idea
dist
build
install-state.gz