node_modules
.env
backend/files/csvs/
backend/files/images/
frontend/src/pages/testing/
.pnp.cjs
.pnp.loader.mjs
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.DS_Store
.vscode
.idea
dist
build
node_modules
install-state.gz